@model PagedViewModel<BlogPost>


<div class="row">
    <!-- Begin Li's Main Content Area -->
    <div class="col-lg-12">
        <div class="row li-main-content">
            @foreach (var item in Model.Items)
            {
                <a asp-action="Details" asp-route-slug="@item.Slug">
                    <div class="col-md-12 margin_top40">
                  <div class="row d_flex">
                     <div class="col-md-5">
                        <div class="news_img">
                           <figure><img src="~/images/@item.ImagePath"></figure>
                        </div>
                     </div>
                     <div class="col-md-7">
                        <div class="news_text">
                           <h3>Specimen book. It has survived not only five</h3>
                           <span>@item.PublishedDate?.ToString("dd MMM yyyy")</span> 
                           <div class="date_like">
                              <span>Like </span><span class="pad_le">Comment</span>
                           </div>
                           <p>@item.Body.ToPlainText()</p>
                        </div>
                     </div>
                  </div>
               </div>
                </a>
            }
            <!-- Begin Li's Pagination Area -->
            <div class="col-lg-12">
                <div class="li-paginatoin-area text-center pt-25">
                    <div class="row">
                        <div class="col-lg-12">
                            @Model.GetPager(Url,"Index",paginateFunction:"goPage")
                            @*<ul class="li-pagination-box">
                                <li><a class="Previous" href="#">Previous</a></li>
                                @for (var i = 1; i <= Model.MaxPageSize; i++)
                                {
                                <li class="@(i == Model.PageIndex?"active":"")">
                                <a asp-action="index" asp-route-PageIndex="@i" asp-route-PageSize="@Model.PageSize">@i</a>
                                </li>
                                }
                                <li><a class="Next" href="#">Next</a></li>
                                </ul>*@
                        </div>
                    </div>
                </div>
            </div>
            <!-- Li's Pagination End Here Area -->
        </div>
    </div>
    <!-- Li's Main Content Area End Here -->
</div>